{% extends 'base.html.twig' %}

{% block title %}Hello HomeController!{% endblock %}

{% block body %}
<style>
    .example-wrapper { margin: 1em auto; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif; }
    .example-wrapper code { background: #F5F5F5; padding: 2px 6px; }
</style>

<div class="example-wrapper">
    <h1>« Il fait {température}°C ({description météo}) chez Citeo. »</h1>
    <a href="{{ path('app_ordinateur') }}"><button>Liste des ordinateurs</button></a>
</div>
{% endblock %}
